<h1>Orders</h1>
<div class="row">
  <ul class="col-3">
    <li *ngFor="let item of data.orders">
      <div (click)="getOrder(item.id)">
        {{item.name}} - {{item.creationDate}}
      </div>
    </li>
  </ul>
  <div class="col-9">
    <div class="order-header">
      <p>
        Name: {{order.name}}
      <p>
        Date: {{order.creationDate}}
      <p>
        Status: {{order.status}}
      <p>
        Total: {{total}}
    </div>
    <table class="order-body">
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total price</td>
      </tr>
      <tr *ngFor="let product of order.productsList">
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.quantity}}
        </td>
        <td>
          {{product.price}}
        </td>
        <td>
          {{product.totalPrice}}
        </td>
      </tr>
      <tr class="order-total">
        <td>Total:</td>
        <td>
          {{totalQuantity}}
        </td>
        <td>
          {{oneEachTotal}}
        </td>
        <td>
          {{total}}
        </td>
      </tr>
    </table>
  </div>
</div>
